/*stylesheet*/


/* fixed sidebar */
.fixed-box {
    position: fixed;
    bottom: 0%;
    right: 95%;
    left: 0%;
    top: 0%;

    background-color: rgb(200, 0, 0);
    color: black;
    padding: 10px;
    border-radius: 0%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 999;
}

@media (max-width:1549px) {
    .fixed-box {
        position: fixed;
        bottom: 0%;
        top: 0%;
        left: 0%;
        width: 25px;
    
        background-color: rgb(200, 0, 0);
        color: black;
        padding: 10px;
        border-radius: 0%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        z-index: 999;
    }
}



.back-button {
    position: flex;
    display: block;
    text-align: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 20px;

    background-color: rgb(245, 216, 50);
    color: rgb(130, 10, 10); 
    cursor: default;

    padding: 2px;
    border-radius: 4%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
.back-button:hover {
    animation-name: color2;
    background-color: rgb(255, 40, 40);
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    animation-duration: 400ms;
}

  @keyframes color2 {
    from {
background-color: rgb(245, 216, 50);
color: rgb(130, 10, 10);
    }
    to {
background-color: rgb(255, 40, 40);
color: black;
    }
}




  
/* fixed sidebar boxes */
@media (max-width:1549px) {
    .upper-fixed-box {
        position: flex;
        display: block;
        text-align: center;
        align-content: center;
        flex-direction: column;
        height: 30px;
        width: 70px;
        margin-top: 20px;
        margin-left: -23px;
        margin-bottom: 50px;

        background-color: rgb(255, 40, 40);
        color: black; 
        cursor: default;

        border-radius: 5%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        z-index: 1000;
        transform: rotate(-90deg);
    }
    .upper-fixed-box:hover {
        animation-name: color;
        background-color: rgb(245, 216, 50);
        color: rgb(130, 10, 10);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        animation-duration: 400ms;
    }
}


@media (min-width:1550px) {
    .upper-fixed-box {
        position: flex;
        display: block;
        text-align: center;
        align-content: center;
        flex-direction: column;
        margin-bottom: 15px;
        height: 50px;

        background-color: rgb(255, 40, 40);
        color: black; 
        cursor: default;

        padding: 2px;
        border-radius: 4%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        z-index: 1000;
    }

    .upper-fixed-box:hover {
        animation-name: color;
        background-color: rgb(245, 216, 50);
        color: rgb(130, 10, 10);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        animation-duration: 400ms;
    }
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: default;
}

@keyframes color {
    from {
background-color: rgb(255, 40, 40);
color: black;
    }
    to {
background-color: rgb(245, 216, 50);
color: rgb(130, 10, 10);
    }
}



.home-container {
    display: flex;
    justify-content: space-around; 
    margin: 100px;
  }
  
  .home-box {
    width: 500px;
    height: 700px;
    background-color: #db3471;
    border-radius: 50px;
    border: 1px solid #b9296f;
    margin: 50px;
    text-align: center;
    line-height: 100px;
    color: white;
  }


.main-box {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 5%;
    top: 0%;
}

@media (max-width:1549px) {
    .main-box {
        position: absolute;
        bottom: 0%;
        right: 0%;
        top: 0%;
        left: 20px;
        padding-left: 25px;
    }
}


.main-box2 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 5%;
    top: 0%;

    background: linear-gradient(to bottom, #ffe95e 0%, #fff08f 3%, #fff4b8 8%, #fffae0 15%, #fffef4 25%, #ffffff 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
}


@media (max-width:1549px) {
    .main-box2 {
        position: absolute;
        bottom: 0%;
        right: 0%;
        top: 0%;
        left: 20px;
        padding-left: 20px;
    
        background: linear-gradient(to bottom, #ffe95e 0%, #fff08f 3%, #fff4b8 8%, #fffae0 15%, #fffef4 25%, #ffffff 100%);
        min-height: 100vh;
        background-repeat: no-repeat;
    }
}





.grid-container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0px;
    padding: 70px;
    gap: 30px;
    background-color: rgb(220, 237, 255);
}

@media (max-width:1575px) {
    .grid-container3 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.outer-box {
    margin: 15px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #d1c074;
    background-color: #ffef97;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(5deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(131, 84, 46);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box:hover {
    animation-name: blocks;
    transition-duration: 150ms;
    transform: rotate(10deg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 40, 40);
}

@keyframes blocks {
    from {
color: black;
    }
    to {
transform: rotate(10deg);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(255, 40, 40);
    }
}

.inner-box1 {
    position: absolute;
    margin-left: 12px;
    height: 4px;
    width: 27px;
    padding: 3px;
    border-radius: 25%;
    border: 3px solid #d1c074;
    background-color: #ffe88b;
    margin-top: -76px;
}

.inner-box2 {
    position: absolute;
    margin-left: 74px;
    height: 4px;
    width: 27px;
    padding: 3px;
    border-radius: 25%;
    border: 3px solid #d1c074;
    background-color: #ffe88b;
    margin-top: -76px;
}

.outer-box2 {
    margin: 5px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #d1c074;
    background-color: #ffef97;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(-5deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(131, 84, 46);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box2:hover {
    animation-name: blocks2;
    transition-duration: 150ms;
    transform: rotate(-10deg);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 40, 40);
}

@keyframes blocks2 {
    from {
color: black;
    }
    to {
transform: rotate(-10deg);
box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(255, 40, 40);
    }
}

.outer-box3 {
    margin: 15px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #d1c074;
    background-color: #ffef97;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(0deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(131, 84, 46);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box3:hover {
    animation-name: blocks3;
    transition-duration: 150ms;
    transform: rotate(-5deg);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(255, 40, 40);
}

@keyframes blocks3 {
    from {
color: black;
    }
    to {
transform: rotate(-5deg);
box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(255, 40, 40);
    }
}









.grid-container4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0px;
    padding: 70px;
    gap: 30px;
    background-color: rgb(255, 247, 188);
}

@media (max-width:1575px) {
    .grid-container4 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.outer-box-0 {
    margin: 15px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #e39696;
    background-color: #ffb8b8;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(5deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(151, 58, 70);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box-0:hover {
    animation-name: blocks-0;
    transition-duration: 150ms;
    transform: rotate(10deg);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(119, 3, 46);
}

@keyframes blocks-0 {
    from {
        color: rgb(151, 58, 70);
    }
    to {
transform: rotate(10deg);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(119, 3, 46);
    }
}

.inner-box-1 {
    position: absolute;
    margin-left: 12px;
    height: 4px;
    width: 27px;
    padding: 3px;
    border-radius: 25%;
    border: 3px solid #e39696;
    background-color: #ffb8b8;
    margin-top: -76px;
}

.inner-box-2 {
    position: absolute;
    margin-left: 74px;
    height: 4px;
    width: 27px;
    padding: 3px;
    border-radius: 25%;
    border: 3px solid #e39696;
    background-color: #ffb8b8;
    margin-top: -76px;
}

.outer-box-2 {
    margin: 5px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #e39696;
    background-color: #ffb8b8;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(-5deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(151, 58, 70);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box-2:hover {
    animation-name: blocks2-0;
    transition-duration: 150ms;
    transform: rotate(-10deg);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(119, 3, 46);
}

@keyframes blocks2-0 {
    from {
        color: rgb(151, 58, 70);
    }
    to {
transform: rotate(-10deg);
box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(119, 3, 46);
    }
}

.outer-box-3 {
    margin: 15px;
    height: 50px;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #e39696;
    background-color: #ffb8b8;

    display: flex; 
    flex-direction: column;
    gap: 5px;
    transform: rotate(0deg);

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(151, 58, 70);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 18px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.outer-box-3:hover {
    animation-name: blocks3-0;
    transition-duration: 150ms;
    transform: rotate(-5deg);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
    color: rgb(119, 3, 46);
}

@keyframes blocks3-0 {
    from {
        color: rgb(151, 58, 70);
    }
    to {
transform: rotate(-5deg);
box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
color: rgb(119, 3, 46);
    }
}









.second-box {
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 40px;
    top: 0%;
    padding: 0px;
}

.images-box {
    width: max-content;
    height: 60px;
    overflow: hidden;
}


/* wide */
.image-box {
    position: relative;
    height: 300px;
    width: 600px;
    border: 1px solid white;
    overflow: hidden;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* medium */
.image-box2 {
    position: relative;
    height: 450px;
    width: 500px;
    border: 1px solid white;
    overflow: hidden;
}
.image-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* extra wide */
.image-box3 {
    position: relative;
    height: 300px;
    width: 800px;
    border: 1px;
    overflow: hidden;
}
.image-box3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-box {
    position: relative;
    height: 700px;
    width: 350px;
    border: 1px solid white;
}

.bio-box {
    height: 1000px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0);
}



/* theme boxes */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 15px;
    gap: 15px;
} 
.theme-box {
    display: flex;
    background-color: rgb(255, 186, 223);
    height: 115px;
    width: 305px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
}
.theme-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1380px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1040px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:700px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}



/* theme boxes */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 15px;
    gap: 15px;
} 
.theme-box2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
}
.theme-box2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width:1380px) {
    .grid-container2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1040px) {
    .grid-container2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:700px) {
    .grid-container2 {
        grid-template-columns: 1fr 1fr;
    }
}




#list-settings {
    line-height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: large;
}


/* link settings */
.hidden-link {
    text-decoration: none;
    color: inherit;
    cursor: default;
}
.hidden-link:hover {
    color: rgb(255, 0, 166);
}





/* box link settings */
.hidden-box-link {
}

.hidden-box-link:hover {
}




/* grid container */
.holy-grail-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'right-sidebar'
        'footer';
}

/* general column padding */
.holy-grail-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.holy-grail-grid > .header {
    grid-area:header;
    background:#ffef97;
}
.holy-grail-grid > .main-content {
    grid-area:main-content;
    background:#fff;
}
.holy-grail-grid > .right-sidebar {
    grid-area:right-sidebar;
    background:rgb(220, 237, 255);
}
.holy-grail-grid > .footer {
    grid-area:footer;
    background:#ffb8b8;
}

/* tablet breakpoint */
@media (min-width:1000px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'right-sidebar right-sidebar'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1000px) {
    .holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'header header header header'
            'main-content main-content main-content right-sidebar'
            'footer footer footer footer';
    }
}
